body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#text {
    display: none;
}

ul {
    list-style-type: none;
}

select {
    margin: 20px 0 20px 0;
}

h1 {
    margin-top: 80px;
}

#dashboard {
    flex-direction: column;
    margin: 10%;
}


#fahrtsuchen_suchbox {
    margin: 5%;
    height: 40px;
    width: 550px;
    max-width: 40%;
    border-radius: 25px;
}

#switchStart\/End {
    scale: 50%;
    max-height: 0;
    max-width: 0;
}
#options_button {
    position: absolute;
    right: 15px;
    top: 15px;
    scale: 15%;
}
#TimeChooser {
    margin: 5%;
}

#map {
    width: 30vw;
    height: 40vh;
}


