body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#text {
    display: none;
}

ul {
    list-style-type: none;
}

select {
    margin: 20px 0 20px 0;
}

h1 {
    margin-top: 80px;
}

#dashboard {
    flex-direction: column;
    margin: 10%;
}
input {

    margin: 5%;
    height: 40px;
    width: 550px;
    max-width: 40%;
    border-radius: 25px;
}
#Personal_Input {
    display: flex;
    flex-direction: column;
}
